{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<main class="content hentry" role="main">
<article class="{{post_class}} post type-post tag-threaded-comments entry" itemscope="" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <header class="entry-header">
        <h1 class="post-title entry-title" itemprop="name">
            <a href="{{url}}">{{{title}}}</a>
        </h1>
        <p class="entry-metanbt">
            <span class="post-author vcard"><i class="fa fa-user"></i>&nbsp;<span class="fn" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">{{author}}</span></span>&nbsp;&nbsp;&nbsp;
            <i class="fa fa-calendar"></i>&nbsp;<meta content="{{url}}" itemprop="url"><a class="timestamp-link" href="{{url}}" rel="bookmark" title="permanent link">
            <span class="published updated" itemprop="datePublished" title="{{date published_at format="DD MMM, YYYY"}}">{{date published_at format="DD MMM, YYYY"}}</span></a>&nbsp;&nbsp;&nbsp;
            <i class="fa fa-folder-open"></i>&nbsp;{{tags}}
        </p>
    </header>
    <div class="entry-content" itemprop="text">
        {{content}}
    </div>
    <footer class="entry-footer">
    {{! Everything inside the #author tags pulls data from the author }}
    

        <section class="share">
            <a class="shared button" href="javascript:void(0)"
                onclick="return false;">
                <span class="title">Share</span>
            </a>
            <a class="icon-twitter button" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <span class="hidden">Twitter</span>
            </a>
            <a class="icon-facebook button" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                <span class="hidden">Facebook</span>
            </a>
            <a class="icon-gplus button" href="https://plus.google.com/share?url={{url absolute="true"}}"
               onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                <span class="hidden">Google+</span>
            </a>
        </section>
    </footer>
    </article>
    {{#author}}
    <section class="author-box" itemprop="author" itemscope="" itemtype="http://schema.org/Person">

        {{#if image}}
            <img alt="" src="{{image}}?s=70&amp;d=mm&amp;r=g" srcset="{{image}}?s=140&amp;d=mm&amp;r=g 2x" class="avatar avatar-70 photo" height="70" width="70">
        {{/if}}
        <h4 class="author-box-title">Biên soạn bởi <span itemprop="name">{{name}}</span></h4>
            <div class="author-box-content" itemprop="description">
                {{#if bio}}
                    <p>{{bio}}</p>                    
                {{/if}}
                <p>Xem <a href="{{url}}">thêm bài viết</a> từ {{name}}</p>
            </div>
        </section>
        {{/author}}
</main>

{{/post}}
